#products-list-container {
  padding-top: 2rem;
}
.product-card {
  width: 50%;
  margin: 30px auto;
  cursor: pointer;
  color: grey;
  box-shadow: 1px 2px 3px rgba(136, 10, 142, 0.3);
}
.qty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}
.qty-input {
  width: 20px;
  text-align: center;
  margin: 0.5rem;
}
.like {
  text-align: center;
  margin-bottom: 1rem;
}
.blue {
  color: blue;
}
