#header {
  position: fixed;
  height: 4rem;
  width: 100vw;
  display: flex;
  align-items: center;
  border-bottom-width: 1.2px;
  border-bottom-style: solid;
  border-bottom-color: var(--main);
  background-color: white;
  z-index: 1;
}
#bonsai {
  font-size: 2rem;
  padding-left: 0.5rem;
}
#menu {
  position: absolute;
  right: 1.5rem;
  display: flex;
}
#menu a {
  color: var(--main);
  margin-left: 2rem;
}
.checkout-badge-container {
  display: flex;
  flex-direction: column;
}
.cart-items-count {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(43, 98, 226);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}
.circle-picture {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}
